{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-around my-4">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#intro">
                        Introduction
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"
                       href="#molbio">
                        Molecular projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#compbio">
                        Computational projects
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="intro">
                    <div class="container my-4">
                    </div>
                </div>
                <div class="tab-pane fade" id="molbio">
                    <div class="container my-4">
                    </div>
                </div>
                <div class="tab-pane fade" id="compbio">
                    <div class="container my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}