{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-around my-4">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                       href="#molecular">
                        Molecular division
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#computational">
                        Computational division
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="molecular">
                    <div class="container my-4 text-justify">
                        <p>
                            Our molecular division, the Laboratory of functional
                            genomics, is a unit of the <a
                                href="http://www.med-gen.ru/en/">Research Centre
                            for Medical Genetics</a>. Here are some of its
                            ongoing projects.
                        </p>
                        <h5>Functional analysis of nucleotide variants of
                            unknown clinical significance</h5>
                        <p>
                            Functional interpretation of clinically
                            uncategorised genetic variations in patients with
                            inherited disorders is our major priority. in a huge
                            number of cases phenotypical interpretation of
                            nucleotide variations is a challenge only functional
                            analysis can tackle. Since a variant's impact
                            depends on various gene disruption mechanisms and
                            the protein properties affected, in our research we
                            use a wide spectrum of molecular techniques: RNA
                            analysis, immunofluorescence, reporter assays and
                            enzymatic activity measurements. We carry out our
                            assays on in vitro systems and a patient's primary
                            cell cultures which we then deposit in the BioBank
                            at the Research Centre for Medical Genetics
                            to assure they could be accessed for further
                            investigations should the patient develop additional
                            symptoms or novel insights into gene function become
                            available. Among many other results our laboratory
                            has discovered novel genes which were not previously
                            linked to human disease and deleterious deep
                            intronic nucleotide variants. This work provides a
                            link between fundamental human biology and clinical
                            genetics to broaden our understanding of
                            etiopathological mechanisms of human disease as well
                            as human gene function.
                        </p>
                        <h5>Long non-coding RNAs and antisense
                            transcription</h5>
                        <p>
                            Natural antisense transcripts (NATs) represent RNAs
                            containing sequences that are complementary to other
                            endogenous RNAs, including pre-mRNAs. There are two
                            forms of NATs: cis-NATs arise from reverse
                            complimentary DNA strands at the same genomic loci
                            while trans-NATS are transcribed from remote loci
                            (trans-NATs). Recently it has been shown that NATs
                            are implicated in many aspects of eukaryotic gene
                            expression including genomic imprinting, RNA
                            interference, translational regulation, alternative
                            splicing, X-inactivation and RNA editing. Moreover,
                            there is growing evidence to suggest that antisense
                            transcription might have a key role in a wide range
                            of human diseases. Although over 20% of human genes
                            might form cis-NATs pairs, the extent to which they
                            are involved in antisense regulation is currently
                            unknown. The connection between the level of
                            antisense transcription throughout the genome and
                            the progression of malignant tumours is especially
                            important. To study this relationship we are
                            investigating sense-antisense pairs that
                            significantly differ in their expression levels in
                            normal and tumour human cells. By comparing the
                            antisense RNA-dependent gene expression regulation
                            in normal and tumour cells we seek to shed light on
                            one of this crucial transcriptional regulation
                            mechanism. We extend our studies to cover not only
                            NATs in tumorigenesis, but the roles other
                            non-coding RNAs play in gene expression regulation
                            in humans.
                        </p>
                        <h5>Comparing structure and function of KCTD
                            proteins</h5>
                        <p>
                            While investigating the roots of B-cell chronic
                            lymphocytic leukaemia, we have discovered a novel
                            potential tumour suppressor gene KCNRG. It appears
                            the protein contains a single conserved T1 potassium
                            channel tetramerisation domain imperative for its
                            interaction with voltage-gated potassium channel
                            subunits. KCNRG has been shown to down-regulate
                            potassium currents in vitro, suppress proliferation
                            and activate apoptosis in cancer cell lines.
                            Subsequent in silico screening of whole-genome human
                            sequences has revealed a large group of T1 domain
                            proteins called the KCTD family. Our laboratory is
                            focused on the interactome of KCTD proteins and
                            their potential functions.
                        </p>
                        <h5>New diagnostic methods for medical genetics</h5>
                        <p>
                            We also help clinical geneticists with diagnosing
                            different rare hereditary disorders by developing
                            novel means of molecular diagnostics. In particular,
                            we've been focues on Clouston's hidrotic ectodermal
                            dysplasia, facioscapulohumeral muscular dystrophy
                            Landouzy-Dejerine, cystic fibrosis, hereditary
                            hypotrichosis along with other disorders.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="computational">
                    <div class="container my-4 text-justify">
                        <p>
                            Our computational division is a research unit of the
                            <a href="Moscow Institute of Physics and Technology">Moscow
                                Institute of Physics and technology</a>. The
                            division was separated from the molecular division
                            in 2015 when we reinforced our commitment to
                            computational biology. Here you can find the ongoing
                            project.
                        </p>
                        <h5>Machine learning in medical genetics</h5>
                        <p>
                            Nowadays computational biology is becoming
                            increasingly data-driven. On the one hand, this
                            opens new possibilities for statistical modelling of
                            complicated biological systems. On the other,
                            extracting meaningful abstractions from a data flood
                            is no small feat. In our laboratory we work on the
                            very frontier of statistical inference in various
                            fields of biomedical science. We research, develop
                            and apply new deep-learning and Bayesian methods to
                            analyse amino acid substitutions, text mining and
                            biological networks to achieve great
                            generalisability. Our models, such as BadMut
                            (Korvigo et al., 2017, pre-print:
                            https://doi.org/10.1101/126532) demonstrate
                            state-of-the-art performance at predicting causative
                            mutations in proteins.
                        </p>

                        <h5>Human miRNA-mRNA interactome</h5>
                        <p>
                            miRNAs are a family of small RNA molecules that
                            regulate a wide range of biological processes
                            through post-transcriptional regulation of gene
                            expression. Despite years of research, miRNA
                            targeting is not completely understood. Recent
                            high-throughput projects CLASH (Helwak et al., 2013)
                            and CLEAR-CLIP (Moore et al., 2015) provide
                            sequences for captured miRNAs ligated to their
                            endogenous mRNA targets in HEK293 cell line and in
                            human hepatoma cells respectively. We apply
                            bioinformatics methods for furthering our
                            understanding of miRNA-mRNA interactions in human
                            cells. To accomplish this, we investigate
                            association between miRNAs and mRNA expression
                            levels.
                        </p>

                        <h5>RNA modifications</h5>
                        <p>
                            There are more than 100 different RNA modifications.
                            Recent technical advances have revealed mRNAs with
                            N6-methyladenosine, 5-methylcytosine and
                            pseudouridine modifications. RNA modification plays
                            an role in RNA stability, translation efficiency and
                            genetic recoding (Gilbert, 2016). There are
                            available whole-transcriptomic data about several
                            types of RNA modifications, but the frequency of
                            pathogenic mutations at modification sites has not
                            been studied yet. We seek to alleviate this.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}