{% extends 'base.html' %}

{% block content %}
    {% include 'cookies.html' %}
    <div class="d-flex justify-content-around my-4">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#about">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#point">
                        Process a single allele
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bulk">
                        Process a VCF query
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <!-- About tab -->
                <div class="tab-pane fade active show" id="about">
                    <div class="container my-4">
                        {% include 'badmut_about.html' %}
                    </div>
                </div>
                <!-- Allele submission tab -->
                <div class="tab-pane fade" id="point">
                    <p class="text-justify text-primary my-4">
                        This tab allows you to submit a single allele at a time.
                        While you can make as many of these submissions as you
                        want, if you have more than a dozen of alleles to
                        process, you should consider the VCF submission form
                        instead.
                    </p>

                    <form role="form" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="service" value="allele_form">
                        {{ allele_form.as_p }}
                        <button type="submit" name="allele_form"
                                class="btn btn-primary bg-dark">
                            Submit
                        </button>
                    </form>
                </div>
                <!-- VCF submission tab -->
                <div class="tab-pane fade" id="bulk">
                    <p class="text-justify text-primary my-4">
                        You can upload and process any VCF file (v4.0-4.2),
                        though your upload can be no more than 20MB.
                        The file can be compressed by any gzip-compatible method
                        (for instance, gzip itself or bgzip). To limit
                        workload, our system only processes the first
                        500k lines from a submitted VCF file (excluding the
                        header lines). The output is a bgzipped VCF v4 file.
                    </p>
                    <form role="form" method="post"
                          enctype="multipart/form-data">
                         <input type="hidden" name="service" value="vcf_form">
                        {% csrf_token %}
                        {{ vcf_form.as_p }}
                        <button type="submit" name="vcf_form"
                                class="btn btn-primary bg-dark">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
