{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-around my-4">
        <div class="col-lg-10">
{#            <ul class="nav nav-tabs">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" data-toggle="tab" href="#point">#}
{#                        Point Query#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" data-toggle="tab" href="#bulk">#}
{#                        Bulk Query#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" data-toggle="tab" href="#about">#}
{#                        About#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#            <div id="myTabContent" class="tab-content">#}
{#                <div class="tab-pane fade active show" id="point">#}
{#                        <div class="container my-4">#}
{#                            <form role="form" method="post"#}
{#                                  enctype="multipart/form-data">#}
{#                                {% csrf_token %}#}
{#                                {{ allele_form.as_p }}#}
{#                                <button type="submit" name="allele-form"#}
{#                                        class="btn btn-primary">OK#}
{#                                </button>#}
{#                            </form>#}
{#                        </div>#}
{#                </div>#}
{#                <div class="tab-pane fade" id="bulk">#}
{#                    <p></p>#}
{#                </div>#}
{#                <div class="tab-pane fade" id="about">#}
{#                </div>#}
{#            </div>#}
            <h3>Comming Soon</h3>
        </div>
    </div>
{% endblock %}