<!-- Fixed navbar -->
<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">GeneResearch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'publications' %}">
                        Publications
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'team' %}">Team</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">Services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'badmut' %}">
                            BadMut
                        </a>
                        <a class="dropdown-item" href="{% url 'mirna' %}">
                            exp-miBRs annotator
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'submissions' %}">
                            Recent Submissions
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
{#                {% if user.is_authenticated %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'login'%}?next={{ request.path }}">Login</a>#}
{#                    </li>#}
{#                {% endif %}#}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join' %}">Join us!</a>
                </li>
            </ul>
        </div>
    </nav>
</div>